@import '../../../../styles/variables.scss';

.billings-wrapper {
    font-size: 14px;
    margin-top: 20px;
    margin-left: 24px;
    border-radius: 4px;

  h1 {
        font-size: 2rem;
        margin: 0;
        color: white;
    }
}
