<div class="congratulations-wrapper">
  <h1>Congratulations!</h1>
  <p>
    Your PitchCard has been submitted for testimonial and will be active
    after it's approved!
  </p>
  <h3>In the meantime...</h3>
  <p>1- Make sure you have the Pitch59 app downloaded</p>
  <div class="app-links-container">
    <a
        href="https://apps.apple.com/us/app/pitch59/id1502156356"
        target="_blank"
    >
      <img
          src="../../../../assets/images/app-dl-buttons/apple-badge.svg"
          alt="app-store-download"
      />
    </a>
    <a
        href="https://play.google.com/store/apps/details?id=com.pitch.fiftynine"
        target="_blank"
    >
      <img
          src="../../../../assets/images/app-dl-buttons/google-badge.svg"
          alt="google-store-download"
      />
    </a>
  </div>
  <p>2- Watch for our Pitch59 Training Emails</p>
  <div class="email-link">
    <a href="" target="_blank">
      <img src="../../../../assets/images/gmail.svg" alt="gmail"/>
    </a>
  </div>
  <p>
    3- Follow us on social media to get updates and tips on how to be
    successful with your PitchCard
  </p>
  <div class="social-links-container">
    <ul class="social-icons">
      <li>
        <a
            href="https://www.facebook.com/pitch59social/"
            target="_blank"
        >
          <img
              src="../../../../assets/images/facebook-icon-gray.svg"
              alt=""
          />
        </a>
      </li>
      <li>
        <a href="https://twitter.com/pitch59_" target="_blank">
          <img
              src="../../../../assets/images/twitter-icon-gray.svg"
              alt=""
          />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/pitch59_/" target="_blank">
          <span class="sprite insta"></span>
        </a>
      </li>
      <li>
        <a
            href="https://www.linkedin.com/company/19087630"
            target="_blank"
        >
          <span class="sprite linkdin"></span>
        </a>
      </li>
      <li>
        <a href="https://www.pinterest.com/pitch59_/" target="_blank">
          <span class="sprite pin"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
