<div class="terms-main">
  <div class="col-12 container">
    <h1>Terms of Service</h1>
    <h3>EXPLANATION</h3>
    <p>
      Pitch59 is an online sales pitch platform where businesses present a
      sales pitch to customers searching on pitch59.com for a particular
      service. The intent of Pitch59 Inc. is to provide a real, human
      experience for both consumers and businesses in matching needs with
      providers. All terms listed below are to protect Consumers,
      advertising Businesses, and Pitch59 Inc in providing these services.
    </p>
    <p>
      Last Updated on June 13th, 2019. These Terms of Service (combined
      with the Business Terms below, constitute the “Terms”) are effective
      immediately for users accessing or using the Service or registering
      Accounts on or after June 13th, 2019.
    </p>
    <p>
      By accessing or using the Service, you represent that you have read,
      understood, and agree to be bound by this Terms of Service Agreement
      (“TOS” or “Agreement”). This Agreement applies to Pros who access
      the Service (“Users”).
    </p>
    <p>
      You acknowledge and agree that we may amend this Agreement at any
      time by posting a revised version of this Agreement on the Service
      or by notifying Pros directly in our sole discretion. Your continued
      use of the Service after any changes are made to this Agreement
      shall constitute your consent to such changes. We do not and will
      not assume any obligation to notify Users of any changes to this
      Agreement, or the creation or modification of any additional terms.
      You are responsible for remaining knowledgeable about the Terms of
      the Agreement.
    </p>
    <h3>DEFINITIONS</h3>
    <p>
      Parties. “You” and “your” refer to you, as a user of the Service. A
      “user” is someone who accesses or in any way uses the Service. “We,”
      “us,” and “our” refer to PITCH59 INC. Pitch59 may be referred to as
      pitch59, Pitch59, PITCH59 and may or may not include the acronym
      “INC”.
    </p>
    <p>
      Content. “Content” means text, images, photos, audio, video, and all
      other forms of data or communication. “Your Content” means Content
      that you submit or transmit in connection with our Service, such as
      ratings, testimonials, photos, videos, and information that you
      contribute to your user profile. “User Content” means Content that
      users submit or transmit through, or in connection with the Service.
      “Service Content” means all of the Content that is made available in
      connection with the Service, including Your Content, User Content,
      pitch59 Content, and Third Party Content.
    </p>
    <p>
      Sites and Accounts. PITCH59’s website directed to users in the USA
      (www.pitch59.com) and related domains and mobile applications,
      including those directed to users outside the United States of
      America.
    </p>
    <h3>CHANGES TO THE TERMS</h3>
    <p>
      We may modify the Terms on occasion. You understand and agree that
      your access to or use of our Service is governed by the Terms
      effective at the time of your access to or use of the Service. We
      will indicate at the top of this page the date that such changes
      were last made. You should visit these Terms on a regular basis as
      revised versions will be binding. You understand and agree that your
      continued use of the Service after the effective date of changes to
      the Terms represents your acceptance of such changes.
    </p>
    <h3>LANGUAGE</h3>
    <p>
      We may translate these Terms into other languages for your
      convenience. Nevertheless, the English language will be the one that
      enforces all pitch59 regulations, and any inconsistencies among the
      different versions will be resolved in favor of the English version.
    </p>
    <h3>USING PITCH59</h3>
    <p>
      Eligibility. To access or use the Service, you must enter into these
      Terms. You may not access or use the Service if you are a competitor
      of pitch59 or if we have previously banned you from the Service or
      closed your Account.
    </p>
    <p>
      Permission to Use the Service. We grant you permission to use the
      Service subject to these Terms. Use of the Service is at your own
      risk, including the risk that you might be exposed to Content that
      contains potential risks or hazards, or is otherwise inappropriate.
    </p>
    <p>
      Service Availability. The Service may be modified, updated,
      interrupted, suspended or discontinued at any time without notice or
      liability.
    </p>
    <p>
      Accounts. You must create a Pitch59 Account and provide certain
      information about yourself in order to use some of the features that
      are offered through the Service. You are responsible for the
      security and confidentiality of your Account password. You are also
      responsible for all activities that occur in connection with your
      Account. You agree to notify us immediately of any unauthorized use
      of your Account. We reserve the right to close your Account at any
      time for any or no reason.
    </p>
    <p>
      We ask that you provide complete and accurate information about
      yourself when creating an Account in order to receive the benefits
      of pitch59. You may not impersonate someone else, provide an email
      address other than your own, create multiple Accounts, or transfer
      your Consumer Account to another person without pitch59’s prior
      approval. You will be asked to verify your phone number with an OTP.
    </p>
    <p>
      Communications from pitch59 and Others. By accessing or using the
      Service, you consent to receive communications from other users and
      pitch59 through the Service, or through any other means such as
      emails, push notifications, text messages (including SMS and MMS),
      and phone calls. These communications may promote pitch59 or
      businesses listed on pitch59, and may be initiated by pitch59,
      businesses listed on pitch59, or other users. You agree to notify us
      immediately if the phone numbers you have provided to us have been
      changed or disconnected. Please note that any communications,
      including phone calls, with pitch59 may be monitored and recorded
      for quality purposes.
    </p>
    <h3>CONTENT</h3>
    <h4>Your own content</h4>
    <p>
      You are responsible for your own Content posted to pitch59. You
      assume all risks associated with Your Content, including anyone’s
      reliance on its quality, accuracy, or reliability, and any risks
      associated with personal information you disclose. You represent
      that you own or have the necessary permissions to use and authorize
      the use of Your Content as described herein. You may not imply that
      Your Content is in any way sponsored or endorsed by pitch59.
    </p>
    <p>
      You may expose yourself to liability if your Content contains
      material that is false, intentionally misleading, or defamatory;
      violates any third-party right, including any copyright, trademark,
      patent, trade secret, moral right, privacy right, right of
      publicity, or any other intellectual property or proprietary right;
      contains material that is unlawful, including illegal hate speech or
      pornography; exploits or otherwise harms minors; violates or
      advocates the violation of any law or regulation; or violates these
      Terms. Pitch59 retains exclusive rights to remove any content deemed
      inappropriate for its audience, and may do so without prior
      notification sent to the Business or Consumer.
    </p>
    <h4>Our Right to Use Your Content</h4>
    <p>
      We may use Your Content in a number of different ways, including by
      publicly displaying it, reformatting it, incorporating it into
      advertisements and other works, creating derivative works from it,
      promoting it, distributing it, and allowing others to do the same in
      connection with their own websites and media platforms. As such, you
      hereby irrevocably grant us world-wide, perpetual, non-exclusive,
      royalty-free, assignable, sublicensable, transferable rights to use
      Your Content for any purpose. Please note that you also irrevocably
      grant the users of the Service and any Other Media the right to
      access Your Content in connection with their use of the Service and
      any Other Media. Finally, you irrevocably waive, and cause to be
      waived, against pitch59 and its users any claims and assertions of
      moral rights or attribution with respect to Your Content. By “use”
      we mean use, copy, publicly perform and display, reproduce,
      distribute, modify, translate, remove, analyze, commercialize, and
      prepare derivative works of Your Content.
    </p>
    <h4>Ownership</h4>
    <p>
      You own Your Content. We own all pitch59 Content, including but not
      limited to visual interfaces, interactive features, graphics,
      design, compilation (including, but not limited to, our selection,
      coordination, and arrangement of User Content and other Service
      Content), computer code, products, software, aggregate user video
      testimonials and ratings, and all other elements and components of
      the Service excluding Your Content, User Content and Third Party
      Content. We also own the copyrights, trademarks, service marks,
      trade names, trade secrets, and other intellectual and proprietary
      rights throughout the world associated with the pitch59 Content and
      the Service, which are protected by copyright, trade dress, patent,
      trademark, and trade secret laws and all other applicable
      intellectual and proprietary rights and laws. As such, you may not
      sell, license, copy, publish, modify, reproduce, distribute, create
      derivative works or adaptations of, publicly display or in any way
      use or exploit any of the Pitch59 Content in whole or in part except
      as expressly authorized by us. Except as expressly and unambiguously
      provided herein, we do not grant you any express or implied rights,
      and all rights in and to the Service and the Pitch59 Content are
      retained by us.
    </p>
    <h4>Advertising</h4>
    <p>
      Pitch59 may publicly display advertisements, paid content, and other
      information nearby or in association with Your Content. You are not
      entitled to any compensation for such advertisements. The manner,
      mode and extent of such advertising are subject to change without
      specific notice to you.
    </p>
    <h4>Other</h4>
    <p>
      User Content (including any that may have been created by users
      employed or contracted by Pitch59) does not necessarily reflect the
      opinion of Pitch59. We reserve the right to remove, screen, edit, or
      reinstate User Content at our sole discretion for any reason or no
      reason, and without notice to you. For example, we may remove a
      testimonial if we believe it violates our Content Guidelines. Except
      as described in Pitch59’s privacy policy or otherwise required by
      law, we have no obligation to retain or provide you with copies of
      Your Content, and we do not guarantee any confidentiality with
      respect to Your Content.
    </p>
    <h3>REPRESENTATIONS AND WARRANTIES</h3>
    <p>
      We are under no obligation to enforce the Terms on your behalf
      against another user. While we encourage you to let us know if you
      believe another user has violated the Terms, we reserve the right to
      investigate and take appropriate action at our sole discretion.
    </p>
    <p>
      You represent and warrant that: You have read and understood our
      Content Guidelines, you have read and understood our Privacy Policy.
      If you use the Service outside of the United States of America, you
      consent to having your personal information transferred to and
      processed in the United States of America; and you also represent
      and warrant that you will not, and will not assist, encourage, or
      enable others to use the Service to: Violate our Terms, including
      the Content Guidelines and Event Terms and Conditions; Post any fake
      or defamatory testimonial; Violate any third party’s rights,
      including any breach of confidence, copyright, trademark, patent,
      trade secret, moral right, privacy right, right of publicity, or any
      other intellectual property or proprietary right; Threaten, stalk,
      harm, or harass others, or promote bigotry or discrimination;
      Promote a business or other commercial venture or event, or
      otherwise use the Service for commercial purposes, except in
      connection with a Business Account in accordance with the Business
      Terms; Send bulk emails, surveys, or other mass messaging, whether
      commercial in nature or not; engage in spamming, or otherwise
      attempt to manipulate search results,
    </p>
    <p>
      You also agree NOT to: Solicit personal information from minors, or
      submit or transmit pornography; Violate any applicable law; Modify,
      adapt, reproduce, distribute, translate, create derivative works or
      adaptations of, publicly display, sell, trade, or in any way exploit
      the Service or Service Content (other than Your Content), except as
      expressly authorized by Pitch59; Use any robot, spider, Service
      search/retrieval application, or other automated device, process or
      means to access, retrieve, scrape, or index any portion of the
      Service or any Service Content; Reverse engineer any portion of the
      Service, unless applicable law prohibits this restriction, in which
      case you agree to provide us with 30 days’ prior written notice;
      Remove or modify any copyright, trademark or other proprietary
      rights notice that appears on any portion of the Service or on any
      materials printed or copied from the Service; Record, process, or
      mine information about users; Access, retrieve or index any portion
      of the Service for purposes of constructing or populating a
      searchable database of business testimonials; Reformat or frame any
      portion of the Service; Take any action that imposes, or may impose,
      in our sole discretion, an unreasonable or disproportionately large
      load on Pitch59’s technology infrastructure or otherwise make
      excessive traffic demands of the Service; Attempt to gain
      unauthorized access to the Service, Accounts, computer systems or
      networks connected to the Service through hacking, password mining
      or any other means; Use the Service or any Service Content to
      transmit any computer viruses, worms, defects, Trojan horses,
      malicious code, spyware, malware or other items of a destructive or
      harmful nature; Use any device, software or routine that interferes
      with the proper working of the Service, or otherwise attempt to
      interfere with the proper working of the Service; Use the Service to
      violate the security of any computer network, crack passwords or
      security encryption codes; disrupt or interfere with the security
      of, or otherwise cause harm to, the Service or Service Content; or
      Remove, circumvent, disable, damage or otherwise interfere with any
      security-related features of the Service, features that prevent or
      restrict the use or copying of Service Content, or features that
      enforce limitations on the use of the Service.
    </p>
    <h3>CUSTOMER SUBMITTED FEEDBACK</h3>
    <p>
      By sending us any ideas, suggestions, documents or proposals
      (“Feedback”), you agree that (i) your Feedback does not contain any
      third party confidential or proprietary information, (ii) we are
      under no obligation of confidentiality, express or implied, with
      respect to the Feedback, (iii) we may have something similar to the
      Feedback already under consideration or in development, (iv) we have
      no obligation to testimonial, consider, or implement the Feedback,
      or to return to you all or part of the Feedback, and (v) you grant
      us an irrevocable, non-exclusive, royalty-free, perpetual,
      worldwide, assignable, sublicensable, transferable license to use,
      modify, prepare derivative works of, publish, distribute and
      sublicense the Feedback, and you irrevocably waive, and cause to be
      waived, against Pitch59 and its users any claims and assertions of
      any moral rights contained in such Feedback.
    </p>
    <h3>THIRD PARTY CONTENT AND SERVICES</h3>
    <p>
      The Service may host Third Party Content, or include links to other
      websites or applications (each, a “Third Party Service”). We do not
      control or endorse any Third Party Content or Third Party Service.
      You agree that we are not responsible for the availability,
      accuracy, or content of any such Third Party Content or Third Party
      Service. Your use of and reliance on any Third Party Content or
      Third Party Service is at your own risk.
    </p>
    <p>
      Some of the services made available through the Service and Third
      Party Services may be subject to additional third party terms of
      service, privacy policies, licensing terms and disclosures, and
      other terms, conditions, and policies. It is your responsibility to
      familiarize yourself with any such applicable third party terms.
    </p>
    <h3>OTHER TERMS</h3>
    <p>
      Copyright And Trademark Disputes. You agree to notify us about
      copyright and trademark disputes concerning User Content. You agree
      we may forward any notification sent pursuant to our Infringement
      Policy to the user who submitted the User Content at issue.
    </p>
    <p>
      Additional Terms. Your use of the Service is subject to any and all
      additional terms, policies, rules, or guidelines that we may post on
      or link to from the Service (the “Additional Terms ”). All such
      Additional Terms are hereby incorporated by reference into, and made
      a part of, these Terms. If you have a Business Account, the Business
      Terms provided below apply to you.
    </p>
    <h3>INDEMNITY</h3>
    <p>
      You agree to indemnify, defend, and hold harmless Pitch59, its
      parents, subsidiaries, affiliates, any related companies, suppliers,
      licensors and partners, and the officers, directors, employees,
      agents, contractors and representatives of each of them from and
      against any and all third party claims, actions, demands, losses,
      damages, costs, liabilities and expenses (including but not limited
      to attorneys’ fees and court costs) arising out of or relating to:
      (i) your access to or use of the Service, including Your Content,
      (ii) your violation of the Terms, (iii) your breach of your
      representations and warranties provided under these Terms, (iv) any
      products or services purchased or obtained by you in connection with
      the Service, (v) your products or services, or the marketing or
      provision thereof to end users, or (vi) the infringement by you, or
      any third party using your Account, of any intellectual property or
      other right of any person or entity. Pitch59 reserves the right, at
      your expense, to assume the exclusive defense and control of any
      matter for which you are required to indemnify us and you agree to
      cooperate with our defense of these claims. You agree not to settle
      any such matter without the prior written consent of Pitch59.
      pitch59 will use reasonable efforts to notify you of any such claim,
      action or proceeding upon becoming aware of it.
    </p>
    <h3>DISCLAIMERS AND LIMITATIONS OF LIABILITY</h3>
    <h5>
      PLEASE READ THIS SECTION CAREFULLY SINCE IT LIMITS THE LIABILITY OF
      PITCH59 TO YOU.
    </h5>
    <p>
      THE SERVICE AND SERVICE CONTENT ARE MADE AVAILABLE TO YOU ON AN “AS
      IS”, “WITH ALL FAULTS” AND “AS AVAILABLE” BASIS, WITH THE EXPRESS
      UNDERSTANDING THAT PITCH59 MAY NOT MONITOR, CONTROL, OR VET USER
      CONTENT OR THIRD PARTY CONTENT. AS SUCH, YOUR USE OF THE SERVICE IS
      AT YOUR OWN DISCRETION AND RISK. PITCH59 MAKES NO CLAIMS OR PROMISES
      ABOUT THE QUALITY, COMPLETENESS, ACCURACY, OR RELIABILITY OF THE
      SERVICE, ITS SAFETY OR SECURITY, OR THE SERVICE CONTENT.
      ACCORDINGLY, PITCH59 IS NOT LIABLE TO YOU FOR ANY PERSONAL INJURY,
      LOSS OR DAMAGE THAT MIGHT ARISE, FOR EXAMPLE, FROM THE SERVICE’S
      INOPERABILITY, DEPLETION OF BATTERY POWER OR OTHER IMPAIRMENT OF
      DEVICES USED TO ACCESS THE SERVICE, SERVICE UNAVAILABILITY, SECURITY
      VULNERABILITIES OR FROM YOUR RELIANCE ON THE QUALITY, ACCURACY, OR
      RELIABILITY OF THE BUSINESS LISTINGS, RATINGS, TESTIMONIALS
      (INCLUDING THEIR CONTENT OR OMISSION OF CONTENT, ORDER, AND
      DISPLAY), METRICS OR OTHER CONTENT FOUND ON, USED ON, OR MADE
      AVAILABLE THROUGH THE SERVICE.
    </p>
    <p>
      PITCH59 MAKES NO CLAIMS OR PROMISES WITH RESPECT TO ANY THIRD PARTY,
      SUCH AS THE BUSINESSES OR ADVERTISERS LISTED ON THE SERVICE OR THAT
      OFFER GOODS OR SERVICES THROUGH THE SERVICE, OR THE SERVICE’S USERS.
      ACCORDINGLY, PITCH59 IS NOT LIABLE TO YOU FOR ANY PERSONAL INJURY,
      LOSS OR DAMAGE THAT MIGHT ARISE FROM ANY SUCH THIRD PARTY’S ACTIONS
      OR OMISSIONS, INCLUDING, FOR EXAMPLE, IF ANOTHER USER OR BUSINESS
      MISUSES YOUR CONTENT, IDENTITY OR PERSONAL INFORMATION, OR IF YOU
      HAVE A NEGATIVE EXPERIENCE WITH ONE OF THE BUSINESSES OR ADVERTISERS
      LISTED OR FEATURED ON THE SERVICE. YOUR PURCHASE AND USE OF PRODUCTS
      OR SERVICES OFFERED BY THIRD PARTIES THROUGH THE SERVICE IS AT YOUR
      OWN DISCRETION AND RISK.
    </p>
    <p>
      YOUR SOLE AND EXCLUSIVE RIGHT AND REMEDY IN CASE OF DISSATISFACTION
      WITH THE SERVICE, RELATED SERVICES, OR ANY OTHER GRIEVANCE SHALL BE
      YOUR TERMINATION AND DISCONTINUATION OF ACCESS TO, OR USE OF THE
      SERVICE.
    </p>
    <p>
      PITCH59’S MAXIMUM AGGREGATE LIABILITY TO YOU FOR LOSSES OR DAMAGES
      THAT YOU SUFFER IN CONNECTION WITH THE SERVICE OR THESE TERMS IS
      LIMITED TO THE GREATER OF (i) THE AMOUNT PAID, IF ANY, BY YOU TO
      PITCH59 IN CONNECTION WITH THE SERVICE IN THE 12 MONTHS PRIOR TO THE
      ACTION GIVING RISE TO LIABILITY, OR (ii) $100.
    </p>
    <p>
      THE pitch59 ENTITIES WILL NOT BE LIABLE FOR ANY (i) INDIRECT,
      SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, RELIANCE, OR CONSEQUENTIAL
      DAMAGES, (ii) LOSS OF PROFITS OR REVENUE, (iii) BUSINESS
      INTERRUPTION, (iv) REPUTATIONAL HARM, (v) LOSS OF INFORMATION OR
      DATA; OR (vi) LIABILITY WITH RESPECT TO A CONSUMER ALERT POSTED ON
      ANY pitch59 BUSINESS PAGES FOR YOUR BUSINESS.
    </p>
    <h3>LAWS AND VENUES</h3>
    <h5>If you are a resident of the United States or Canada:</h5>
    <p>
      Texas law will govern these Terms, as well as any claim, cause of
      action or dispute that might arise between you and Pitch59 (a
      “Claim”), without regard to conflict of law provisions. FOR ANY
      CLAIM BROUGHT BY EITHER PARTY, YOU AGREE TO SUBMIT AND CONSENT TO
      THE PERSONAL AND EXCLUSIVE JURISDICTION IN, AND THE EXCLUSIVE VENUE
      OF, THE STATE AND FEDERAL COURTS LOCATED WITHIN HARRIS COUNTY,
      TEXAS.
    </p>
    <p>
      You agree that any subpoena, third-party discovery request, or other
      third-party process directed to Pitch59 must issue from, or be
      domesticated by, the state or federal courts located within Harris
      County, Texas and you agree to submit to the personal jurisdiction
      of each of these courts for any related proceedings.
    </p>
    <p>
      Attorneys’ fees and costs may be awarded against any party that
      pursues any Claim or Third Party Process in a manner contrary to
      this Section, provided that party does not promptly withdraw the
      Claim or Third Party Process once this Section is brought to its
      attention.
    </p>
    <h3>TERMINATION</h3>
    <p>
      You may terminate the Terms at any time by closing your Account,
      discontinuing any access to or use of the Service, and providing
      Pitch59 with a notice of termination.
    </p>
    <p>
      We may close your Account, suspend your ability to use certain
      portions of the Service, terminate any license or permission granted
      to you hereunder, and/or ban you altogether from the Service for any
      or no reason, and without notice or liability of any kind. Any such
      action could prevent you from accessing your Account, the Service,
      Your Content, Service Content, or any other related information.
    </p>
    <p>
      In the event of any termination of these Terms, whether by you or
      us, Sections 1, 3, 5, 7, 10–14 of the Terms of Service will continue
      in full force and effect.
    </p>
    <h3>GENERAL TERMS</h3>
    <p>
      We reserve the right to modify, update, or discontinue the Service
      at our sole discretion, at any time, for any or no reason, and
      without notice or liability.
    </p>
    <p>
      We reserve the right to modify, update, or discontinue any video
      testimonials or ratings left by consumers for any Pitch59 businesses
      profiles for any reason.
    </p>
    <p>
      Except as otherwise stated in Section 10 above, nothing herein is
      intended, nor will be deemed, to confer rights or remedies upon any
      third party.
    </p>
    <p>
      The Terms contain the entire agreement between you and us regarding
      the use of the Service, and supersedes any prior agreements between
      you and us on such subject matter. The parties acknowledge that no
      reliance is placed on any representation made but not expressly
      contained in these Terms.
    </p>
    <p>
      Any failure on Pitch59’s part to exercise or enforce any right or
      provision of the Terms does not constitute a waiver of such right or
      provision. The failure of either party to exercise in any respect
      any right provided for herein shall not be deemed a waiver of any
      further rights hereunder. The Terms may not be waived, except
      pursuant to a writing executed by Pitch59.
    </p>
    <p>
      If any provision of the Terms is found to be unenforceable or
      invalid by a court of competent jurisdiction, then that provision
      shall be modified to reflect the parties’ intention or eliminated to
      the minimum extent necessary so that the Terms shall otherwise
      remain in full force and effect and enforceable.
    </p>
    <p>
      The Terms, and any rights or obligations hereunder, are not
      assignable, transferable or sublicensable by you except with
      Pitch59’s prior written consent, but may be assigned or transferred
      by us without restriction. Any attempted assignment by you shall
      violate these Terms and be void.
    </p>
    <p>
      Copyright © 2019 Pitch59 Inc., 711 Santa Elena Canyon, Spring TX
      77388 USA.
    </p>
    <h3>BUSINESS TERMS</h3>
    <p>Last Updated on June 13th, 2019.</p>
    <p>
      The following terms (“Business Terms”), in addition to the Terms of
      Service above, govern your access to and use of your Business
      Account. In the event of any conflict between these Business Terms
      and the Terms of Service, the Business Terms apply. If you have
      purchased products or services from Pitch59 on behalf of your
      business (e.g., advertising or business tools), the terms of that
      purchase apply in the event of any conflict with these Business
      Terms. Capitalized words used but not defined in these Business
      Terms have the meanings described in the Terms of Service. By
      creating, accessing, or using your Business Account, you are
      agreeing to these Business Terms and concluding a legally binding
      contract with pitch59. You are not authorized to create, access, or
      use a Business Account if you do not agree to these Business Terms.
    </p>
    <p>
      Please read these Business Terms carefully as they require the use
      of arbitration on an individual basis to resolve disputes, rather
      than trials or class actions, and also limit the remedies available
      to you in the event of a dispute.
    </p>
    <p>
      In the event of any termination of these Business Terms, whether by
      you or us, these Business Terms in their entirety will continue in
      full force and effect.
    </p>
    <h3>REPRESENTATIONS AND WARRANTIES</h3>
    <p>
      You represent and warrant that: you have the authority to act on
      behalf of the business or businesses associated with your Business
      Account and bind any such business to the Business Terms (such
      business or businesses, your “Business”); your access to or use of
      the Business Site will only be in your capacity as an authorized
      representative of your Business; your Business complies with
      applicable laws and does not offer or advertise illegal products
      and/or services for lease or sale; you agree that we may contact
      you, including by phone or email, using the contact information you
      provide us, make publicly available, or that we have on record for
      your business, and that our calls with you may be monitored and
      recorded for quality purposes; and you understand and acknowledge
      that non-disparagement clauses in certain consumer contracts, such
      as clauses that seek to restrict or prohibit testimonials (including
      provisions that penalize consumers for posting testimonials) about
      your Business, are illegal under the federal Consumer Testimonial
      Fairness Act (15 U.S. Code § 45b) and you agree that you will not
      include such clauses in your consumer contracts, or otherwise
      attempt to enforce non-disparagement or ‘gag’ clauses against
      consumers under any circumstances.
    </p>
    <p>
      You also represent and warrant that you will not, and will not
      authorize or induce any other party, to: use any automated means or
      form of scraping or data extraction to access, query or otherwise
      collect Pitch59 data, content and/or testimonials from the Consumer
      Site or the Business Site; use any of Pitch59’s trademarks in any
      manner without Pitch59’s prior written consent; or misrepresent your
      identity or affiliation to anyone in connection with Pitch59.
    </p>
    <h3>DISCLAIMERS AND LIMITATIONS OF LIABILITY</h3>
    <h5>
      PLEASE READ THIS SECTION CAREFULLY SINCE IT LIMITS THE LIABILITY OF
      THE Pitch59 ENTITIES TO YOU. FOR CLARITY, THE BELOW APPLIES IN
      ADDITION TO THE DISCLAIMERS AND LIMITATIONS OF LIABILITY DETAILED IN
      SECTION 12 OF THE TERMS.
    </h5>
    <p>
      The federal Communications Decency Act (47 U.S. Code § 230) limits
      the liability of interactive computer services, like Pitch59, for
      their role in publishing third-party Content, including consumer
      testimonials.
    </p>
    <p>
      Any controversy or claim arising out of or relating to: (a) these
      Terms, or the breach thereof; or (b) your access to or use of your
      Business Profile; (each such controversy or claim, a “Claim”), shall
      be settled by arbitration administered by the American Arbitration
      Association in accordance with its Commercial Arbitration Rules and
      judgment on the award rendered by the arbitrator may be entered in
      any court having jurisdiction thereof. The arbitrator will issue a
      reasoned award in writing, including all findings of fact and law
      upon which the award was made. The arbitrator will not have the
      power to commit errors of law, and the award may be vacated or
      corrected through judicial testimonial by a court of competent
      jurisdiction under the Texas Arbitration Act for any such error.
    </p>
    <p>
      Claims shall be heard by a single arbitrator. Arbitrations will be
      held in Houston, Texas, but the parties may choose for themselves
      whether to appear in person, by phone, or through the submission of
      documents. The arbitration shall be governed by the laws of the
      State of Texas. The prevailing party shall be entitled to an award
      of reasonable attorneys’ fees.
    </p>
    <p>
      NOTWITHSTANDING THE FOREGOING, FOR ANY CLAIM THAT IS NOT SUBJECT TO
      ARBITRATION, YOU AGREE TO SUBMIT AND CONSENT TO THE PERSONAL AND
      EXCLUSIVE JURISDICTION IN, AND THE EXCLUSIVE VENUE OF, THE STATE AND
      FEDERAL COURTS LOCATED WITHIN HOUSTON, TEXAS, WHICH IS THE PLACE OF
      PERFORMANCE OF THESE BUSINESS TERMS.
    </p>
    <p>
      YOU AND PITCH59 AGREE THAT EACH MAY BRING OR PARTICIPATE IN CLAIMS
      AGAINST THE OTHER ONLY IN THEIR RESPECTIVE INDIVIDUAL CAPACITIES,
      AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR
      REPRESENTATIVE PROCEEDING. UNLESS BOTH YOU AND PITCH59 AGREE
      OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE OR JOIN THE CLAIMS OF
      OTHER PERSONS OR PARTIES WHO MAY BE SIMILARLY SITUATED, AND MAY NOT
      OTHERWISE PRESIDE OVER ANY FORM OF A REPRESENTATIVE OR CLASS
      PROCEEDING. IF A CLAIM IMPLICATES THIS SECTION, AND THIS SECTION IS
      FOUND TO BE INVALID, UNENFORCEABLE OR ILLEGAL BY A COURT, SUCH CLAIM
      MUST BE ADJUDICATED BY A COURT AND NOT BY AN ARBITRATOR.
    </p>
    <p>
      Copyright © 2019 Pitch59 Inc., 711 Santa Elena Canyon, Spring, TX,
      77388, U.S.A.
    </p>
  </div>
</div>
<app-back-to-the-top-button></app-back-to-the-top-button>
