<div class="container">
    <div class="create-container container">
        <div class="wrapper-section">
            <div class="main-section">
              <div class="pitchcard-view-section">
                <div
                    class="pitchcard-view-item"
                    #pitchCardWrapper
                    style="visibility: hidden"
                >
                  <app-search-result-thumbnail
                      [businessDetails]="businessDetails"
                      #businessCard
                      [scale]="scaleFactor"
                  >
                  </app-search-result-thumbnail>
                </div>
              </div>
                <div class="main-form">
                  <div class="change-password">
                    <h1 translate>label_change_password</h1>
                    <form
                        [formGroup]="changePasswordForm"
                        (ngSubmit)="changePassword()"
                    >
                            <span class="p-float-label">
                                <input
                                    class="new-input-blue"
                                    id="oldpassword"
                                    type="password"
                                    minlength="3"
                                    pInputText
                                    formControlName="oldpassword"
                                />
                                <label for="oldpassword" translate
                                >label_old_password</label
                                >
                            </span>
                      <div
                          class="error-sign"
                          *ngIf="submitted && f.oldpassword.errors"
                      >
                        <div
                            *ngIf="
                                        changePasswordForm.controls.oldpassword
                                            .errors.required
                                    "
                            translate
                        >
                          err_required_oldpassword
                        </div>
                        <div
                            *ngIf="
                                        changePasswordForm.controls.oldpassword
                                            .dirty &&
                                        !changePasswordForm.controls.oldpassword
                                            .errors.required
                                    "
                            translate
                        >
                          err_old_password_not_match
                        </div>
                      </div>
                      <span class="p-float-label">
                                <input
                                    class="new-input-blue"
                                    id="password"
                                    type="password"
                                    minlength="3"
                                    pInputText
                                    formControlName="password"
                                />
                                <label for="password" translate
                                >label_new_password</label
                                >
                            </span>
                      <div
                          class="error-sign"
                          *ngIf="submitted && f.password.errors"
                      >
                        <div
                            *ngIf="
                                        changePasswordForm.controls.password
                                            .errors.required
                                    "
                            translate
                        >
                          err_required_password
                        </div>
                        <div
                            *ngIf="
                                        changePasswordForm.controls.oldpassword
                                            .dirty &&
                                        !changePasswordForm.controls.password
                                            .errors.required
                                    "
                            translate
                        >
                          err_invalid_password_length
                        </div>
                      </div>
                      <span class="p-float-label">
                                <input
                                    class="new-input-blue"
                                    id="confirmpassword"
                                    type="password"
                                    minlength="3"
                                    pInputText
                                    formControlName="confirmpassword"
                                />
                                <label for="confirmpassword" translate
                                >label_confirm_password</label
                                >
                            </span>
                      <div
                          class="error-sign"
                          *ngIf="submitted && f.confirmpassword.errors"
                      >
                        <div
                            *ngIf="
                                        changePasswordForm.controls
                                            .confirmpassword.errors.required
                                    "
                            translate
                        >
                          err_required_confirmpassword
                        </div>
                        <div
                            *ngIf="
                                        changePasswordForm.controls
                                            .confirmpassword.dirty &&
                                        !changePasswordForm.controls
                                            .confirmpassword.errors.required &&
                                        changePasswordForm.controls
                                            .confirmpassword.value !==
                                            changePasswordForm.controls.password
                                                .value
                                    "
                            translate
                        >
                          err_confirm_password_not_match
                        </div>
                      </div>
                      <button
                          class="button-simple lg-50 shock-pink"
                          [disabled]="loading"
                          translate
                      >
                        label_change
                      </button>
                      <div class="error-sign">
                        {{ errorMessage }}
                      </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
