<div class="sign-up-wrapper full-height-wrap container">
  <div class="col-12 no-padding">
    <div class="grid signin-sub justify-content-center">
      <div class="col-12 sm:col-9 md:col-6 dis-flex">
        <div class="col-12 sign-up-box layout-card">
          <div
              class="col-6 mt-20 logo margin-centered"
              *ngIf="!profileVerification"
          >
            <img
                class="full-width"
                src="assets/images/logo/pitch59-logo-gray.svg"
                alt="{{ 'lbl_img_alt_logo' | translate }}"
            />
          </div>
          <div class="col-12 heading text-center" translate>
            label_reset_password
          </div>
          <form
              [formGroup]="resetPasswordForm"
              (ngSubmit)="resetPassword()"
          >
            <div class="col-12 text-center mail-text">
              <div class="para">
                We have sent you a digit code to
              </div>
              <div class="emailaddress">{{ contactNumber }}</div>
            </div>

            <div class="form-row col-12">
              <div class="form-row-input">
                                <span class="p-float-label">
                                    <input
                                        class="new-input-blue full-width"
                                        autocomplete="tel"
                                        type="tel"
                                        size="30"
                                        inputmode="tel"
                                        id="smsOtpCode"
                                        pKeyFilter="int"
                                        pInputText
                                        readonly
                                        onfocus="this.removeAttribute('readonly')"
                                        formControlName="smsOtpCode"
                                    />
                                    <label for="smsOtpCode" translate
                                    >label_enter_digit_code</label
                                    >
                                </span>
                <div
                    class="form-errors"
                    *ngIf="
                                        resetPasswordForm.controls.smsOtpCode
                                            .invalid &&
                                        (resetPasswordForm.controls.smsOtpCode
                                            .dirty ||
                                            resetPasswordForm.controls
                                                .smsOtpCode.touched)
                                    "
                >
                  <div
                      *ngIf="
                                            resetPasswordForm.controls
                                                .smsOtpCode.errors.required
                                        "
                      translate
                  >
                    err_required_digitCode
                  </div>
                  <div
                      *ngIf="
                                            resetPasswordForm.controls
                                                .smsOtpCode.errors.pattern
                                        "
                      translate
                  >
                    err_invalid_digitCode
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row col-12">
              <div class="form-row-input">
                                <span class="p-float-label">
                                    <input
                                        class="new-input-blue full-width"
                                        autocomplete="off"
                                        id="newpassword"
                                        type="password"
                                        minlength="3"
                                        pInputText
                                        formControlName="newpassword"
                                        (focus)="
                                            showPasswordRequirements = true
                                        "
                                        (blur)="
                                            showPasswordRequirements = false
                                        "
                                    />
                                    <label for="newpassword" translate
                                    >label_new_password</label
                                    >
                                </span>
                <div
                    class="form-errors"
                    *ngIf="
                                        resetPasswordForm.controls.newpassword
                                            .invalid &&
                                        (resetPasswordForm.controls.newpassword
                                            .dirty ||
                                            resetPasswordForm.controls
                                                .newpassword.touched)
                                    "
                >
                  <div
                      *ngIf="
                                            resetPasswordForm.controls
                                                .newpassword.errors.required
                                        "
                      translate
                  >
                    err_required_password
                  </div>

                  <div
                      class="password-validator"
                      *ngIf="showPasswordRequirements"
                  >
                    <label
                        [ngClass]="
                                                resetPasswordForm.controls[
                                                    'newpassword'
                                                ].hasError('required') ||
                                                resetPasswordForm.controls[
                                                    'newpassword'
                                                ].hasError('minlength')
                                                    ? 'text-danger'
                                                    : 'text-success'
                                            "
                    >
                      <i
                          class="pi"
                          [ngClass]="{
                                                    'pi-times-circle':
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError(
                                                            'required'
                                                        ) ||
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError('minlength'),
                                                    'pi-check-circle': !(
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError(
                                                            'required'
                                                        ) ||
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError('minlength')
                                                    )
                                                }"
                      >
                      </i>
                      8 characters
                    </label>
                    <label
                        [ngClass]="
                                                resetPasswordForm.controls[
                                                    'newpassword'
                                                ].hasError('required') ||
                                                resetPasswordForm.controls[
                                                    'newpassword'
                                                ].hasError('hasNumber')
                                                    ? 'text-danger'
                                                    : 'text-success'
                                            "
                    >
                      <i
                          class="pi"
                          [ngClass]="{
                                                    'pi-times-circle':
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError(
                                                            'required'
                                                        ) ||
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError('hasNumber'),
                                                    'pi-check-circle': !(
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError(
                                                            'required'
                                                        ) ||
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError('hasNumber')
                                                    )
                                                }"
                      >
                      </i>
                      1 number
                    </label>
                    <label
                        [ngClass]="
                                                resetPasswordForm.controls[
                                                    'newpassword'
                                                ].hasError('required') ||
                                                resetPasswordForm.controls[
                                                    'newpassword'
                                                ].hasError('hasCapitalCase')
                                                    ? 'text-danger'
                                                    : 'text-success'
                                            "
                    >
                      <i
                          class="pi"
                          [ngClass]="{
                                                    'pi-times-circle':
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError(
                                                            'required'
                                                        ) ||
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError(
                                                            'hasCapitalCase'
                                                        ),
                                                    'pi-check-circle': !(
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError(
                                                            'required'
                                                        ) ||
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError(
                                                            'hasCapitalCase'
                                                        )
                                                    )
                                                }"
                      >
                      </i>
                      1 uppercase letter
                    </label>
                    <label
                        [ngClass]="
                                                resetPasswordForm.controls[
                                                    'newpassword'
                                                ].hasError('required') ||
                                                resetPasswordForm.controls[
                                                    'newpassword'
                                                ].hasError('hasSmallCase')
                                                    ? 'text-danger'
                                                    : 'text-success'
                                            "
                    >
                      <i
                          class="pi"
                          [ngClass]="{
                                                    'pi-times-circle':
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError(
                                                            'required'
                                                        ) ||
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError(
                                                            'hasSmallCase'
                                                        ),
                                                    'pi-check-circle': !(
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError(
                                                            'required'
                                                        ) ||
                                                        resetPasswordForm.controls[
                                                            'newpassword'
                                                        ].hasError(
                                                            'hasSmallCase'
                                                        )
                                                    )
                                                }"
                      >
                      </i>
                      1 lowercase letter
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row col-12">
              <div class="form-row-input">
                                <span class="p-float-label">
                                    <input
                                        class="new-input-blue full-width"
                                        autocomplete="off"
                                        id="confirmpassword"
                                        type="password"
                                        minlength="3"
                                        pInputText
                                        formControlName="confirmpassword"
                                    />
                                    <label for="confirmpassword" translate
                                    >label_confirm_password</label
                                    >
                                </span>
                <div
                    class="form-errors"
                    *ngIf="
                                        resetPasswordForm.controls
                                            .confirmpassword.invalid &&
                                        resetPasswordForm.controls
                                            .confirmpassword.touched
                                    "
                >
                  <div
                      *ngIf="
                                            resetPasswordForm.controls
                                                .confirmpassword.errors.required
                                        "
                      translate
                  >
                    err_required_confirmpassword
                  </div>

                  <div
                      *ngIf="
                                            !resetPasswordForm.controls
                                                .confirmpassword.errors
                                                .required &&
                                            (resetPasswordForm.controls
                                                .confirmpassword.dirty ||
                                                resetPasswordForm.controls
                                                    .confirmpassword.touched) &&
                                            resetPasswordForm.controls
                                                .confirmpassword.value !==
                                                resetPasswordForm.controls
                                                    .newpassword.value
                                        "
                      translate
                  >
                    err_confirm_password_not_match
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 form-errors">
              {{ errorMessage }}
            </div>
            <div class="col-12 text-center">
              <button
                  class="button-simple lg-50 shock-pink text-center"
                  [disabled]="
                                    loading || resetPasswordForm.invalid
                                "
                  translate
              >
                label_reset
              </button>
            </div>
            <div class="col-12 text-center">
                            <span
                                [ngClass]="{
                                    'mock-link-disabled': isTimerRunning
                                }"
                                class="mock-link"
                                (click)="resendOTP()"
                                translate
                            >lbl_resend_otp</span
                            >
              <span class="otp-timer" *ngIf="otpTimer !== '00'">
                                (00:{{ otpTimer }})</span
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
