.h-4 {
    height: 3.5rem !important;
}

button.button-simple {
    margin-top: 0;
}
.form-field input[type='text'] {
    margin: 0;
    padding: 0;
}

.sign-up-wrapper {
    .sign-up-box .emailaddress {
        margin: 6px 0 30px;
    }
    @media (max-width: 767px) {
        .signin-sub {
            margin: 20px 0;
        }
    }
}

.button-simple {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  height: 3rem;
  margin-top: 2rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  text-transform: uppercase;
  width: 47%;
  margin: auto;
}

.password-validator {
    display: flex;
    flex-direction: column;

    label {
        margin-top: 0.5rem;

        &.text-danger {
          color: #ff3366;
        }

        &.text-success {
          color: #25afb5;
        }

        i {
            vertical-align: middle;
        }
    }
    @media screen and (max-width: 375px) {
        font-size: 12px;
    }
}
