<div class="container">
    <div class="create-container container">
        <div class="wrapper-section">
            <div class="main-section">
              <div class="pitchcard-view-section">
                <div
                    class="pitchcard-view-item"
                    #pitchCardWrapper
                    style="visibility: hidden"
                >
                  <app-search-result-thumbnail
                      [businessDetails]="businessDetails"
                      #businessCard
                      [scale]="scaleFactor"
                  >
                  </app-search-result-thumbnail>
                </div>
              </div>
                <div class="main-form">
                  <div class="forgot-password">
                    <h1>Forgot your password?</h1>
                    <h2>
                      Don't worry. Resseting your password is easy, just
                      tell us the email adress you registered.
                    </h2>
                    <form
                        [formGroup]="forgotPasswordForm"
                        (ngSubmit)="gotoOTP()"
                    >
                            <span class="p-float-label">
                                <input
                                    class="new-input-blue"
                                    id="userName"
                                    type="text"
                                    size="30"
                                    pInputText
                                    autocomplete="email"
                                    formControlName="userName"
                                />
                                <label for="userName" translate
                                >label_email_address</label
                                >
                            </span>
                      <div
                          class="error-sign"
                          *ngIf="submitted && f.userName.errors"
                      >
                        <div
                            *ngIf="
                                        forgotPasswordForm.controls.userName
                                            .errors.required
                                    "
                            translate
                        >
                          err_required_emailId
                        </div>
                        <div
                            *ngIf="
                                        forgotPasswordForm.controls.userName
                                            .errors.pattern
                                    "
                            translate
                        >
                          err_invalid_emailId
                        </div>
                      </div>
                      <div class="error-sign">
                        {{ errorMessage }}
                      </div>
                      <button
                          class="button-simple lg-50 shock-pink uppercase"
                          [disabled]="loading"
                          translate
                      >
                        label_send
                      </button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
