.searchfield-dropdown-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1024px) {
    width: 75%;
  }
}
.filters-wrap {
  display: flex;
  width: 20%;
  @media (max-width: 1024px) {
    width: 25%;
  }
}
.header h2 {
  font-size: 18px;
}

::ng-deep .p-dialog-titlebar-icons.ng-tns-c52-12 {
  writing-mode: vertical-lr;
}

.blur {
  filter: blur(2px);
}

.blur:before {
  content: ' ';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
