<div class="rating-stars">
  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating >= 0.8"
      src="/assets/images/pitch-card-svg/star.svg"
      alt=""
  />
  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating < 0.8 && averageRating >= 0.3"
      src="/assets/images/pitch-card-svg/star-half.svg"
      alt=""
  />
  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating < 0.3"
      src="/assets/images/pitch-card-svg/star-blank.svg"
      alt=""
  />

  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating >= 1.8"
      src="/assets/images/pitch-card-svg/star.svg"
      alt=""
  />
  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating < 1.8 && averageRating >= 1.3"
      src="/assets/images/pitch-card-svg/star-half.svg"
      alt=""
  />
  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating < 1.3"
      src="/assets/images/pitch-card-svg/star-blank.svg"
      alt=""
  />

  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating >= 2.8"
      src="/assets/images/pitch-card-svg/star.svg"
      alt=""
  />
  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating < 2.8 && averageRating >= 2.3"
      src="/assets/images/pitch-card-svg/star-half.svg"
      alt=""
  />
  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating < 2.3"
      src="/assets/images/pitch-card-svg/star-blank.svg"
      alt=""
  />

  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating >= 3.8"
      src="/assets/images/pitch-card-svg/star.svg"
      alt=""
  />
  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating < 3.8 && averageRating >= 3.3"
      src="/assets/images/pitch-card-svg/star-half.svg"
      alt=""
  />
  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating < 3.3"
      src="/assets/images/pitch-card-svg/star-blank.svg"
      alt=""
  />

  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating >= 4.8"
      src="/assets/images/pitch-card-svg/star.svg"
      alt=""
  />
  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating < 4.8 && averageRating >= 4.3"
      src="/assets/images/pitch-card-svg/star-half.svg"
      alt=""
  />
  <img
      class="star-icon"
      rel="preload"
      *ngIf="averageRating < 4.3"
      src="/assets/images/pitch-card-svg/star-blank.svg"
      alt=""
  />
</div>
