.rating-stars {
  margin: calc(0.375rem * var(--scale-factor));
}

.star-icon {
  height: calc(1rem * var(--scale-factor)) !important;
  margin: 0 calc(0.1875rem * var(--scale-factor));
  width: auto !important;
}
