<div class="sign-up-wrapper container">
  <div class="col-12 no-padding">
    <div class="grid signin-sub">
      <div class="col-12 lg:col-6 md:col-6 sm:col-12 dis-flex">
        <div class="sign-up-box">
          <div class="col-12 logo text-center">
            <img
                class="full-width"
                src="assets/images/logo/pitch59-logo-gray.svg"
                alt="{{ 'lbl_img_alt_logo' | translate }}"
            />
          </div>
          <div class="col-12 heading text-center" translate>
            label_verify_onetime_password
          </div>

          <div class="col-12 text-center">
            <div class="para" translate>
              lbl_wehave_sent_four_digitcode
            </div>
            <div class="emailaddress"></div>
          </div>

          <form [formGroup]="oneTimePasswordForm">
            <div class="form-field col-12">
              <div class="form-label">
                <label for="digitCode" translate
                >label_enter_digit_code</label
                >
              </div>
              <div class="form-control">
                <input
                    formControlName="digitCode"
                    class="full-width"
                    type="text"
                    minlength="4"
                    maxlength="4"
                />
              </div>
              <div
                  class="form-errors"
                  *ngIf="
                                    oneTimePasswordForm.controls.digitCode
                                        .invalid &&
                                    (oneTimePasswordForm.controls.digitCode
                                        .dirty ||
                                        oneTimePasswordForm.controls.digitCode
                                            .touched)
                                "
              >
                <div
                    *ngIf="
                                        oneTimePasswordForm.controls.digitCode
                                            .errors.required
                                    "
                    translate
                >
                  err_required_digitCode
                </div>

                <div
                    *ngIf="
                                        oneTimePasswordForm.controls.digitCode
                                            .errors.pattern
                                    "
                    translate
                >
                  err_invalid_digitCode
                </div>
              </div>
            </div>

            <div class="col-12 text-center">
              <div
                  class="primary-btn"
                  [ngClass]="{
                                    inactive: !oneTimePasswordForm.valid
                                }"
                  (click)="verifyPassword()"
                  translate
              >
                label_confirm
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 lg:col-6 md:col-6 no-padding displaynone">
        <div class="img-wrap"></div>
      </div>
    </div>
  </div>
</div>
