@import '../../../../styles/variables.scss';

@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-pockets-wrapper {
    margin: 0 auto;
    max-width: $containerWidth;
    padding: 0 0 40px 24px;

    @media screen and (max-width: 1340px) {
        padding: 0 60px;
    }

    @media screen and (max-width: 560px) {
        padding: 0 10px;
    }

    @media screen and (max-width: 300px) {
        height: 60px;
        margin-top: 0;
        padding: 0 0 40px 0px;
    }

    &.no-touch-actions {
        touch-action: none;
        overflow: hidden;
    }

    .my-pockets-header {
        display: flex;
        align-items: center;

        h1 {
            font-size: 2rem;
            color: $white;
        }

        .back-link {
            color: $white;
            font-size: 1.2rem;
            margin-right: 15px;

            &:hover {
                cursor: pointer;
            }
        }

        @media screen and (max-width: 560px) {
            padding: 0 10px;
        }
    }

    .my-pocket-controls-container {
        display: flex;
        height: 50px;
        margin-bottom: 30px;

        @media screen and (max-width: 767px) {
            margin-bottom: 15px;

            .attach-header {
                font-size: 1.5rem;
            }
        }
        @media screen and (max-width: 560px) {
            padding: 0 10px;
        }

        .my-pockets-search-box {
            position: relative;
            display: flex;
            width: 50%;
            align-items: center;
            height: 50px;
            border-radius: 4px;
            background-color: $white;

            @media screen and (max-width: 1037px) {
                width: 65%;
            }

            @media screen and (max-width: 920px) {
                width: 55%;
            }

            @media screen and (max-width: 768px) {
                width: 80%;
            }

            .auto-complete-wrapper {
                width: calc(100% - 50px - 20px);

                @media screen and (max-width: 920px) {
                    width: calc(100% - 30px - 20px);
                }
            }

            .search-controls {
                @include flex-centered();
                height: 100%;
                padding: 5px 0;

                .search-btn {
                  @include flex-centered();
                  @media screen and (max-width: 920px) {
                    width: 40px;
                  }

                  width: 50px;
                  height: 40px;
                  margin-right: 5px;
                  background-image: linear-gradient(
                                  to right,
                                  $titleColor,
                                  $secColor,
                                  $secColor,
                                  $titleColor
                  );
                  background-size: 300% 100%;
                  box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
                  border: none;
                  border-radius: 4px;

                  .icon {
                    background-image: url('/assets/images/search-white.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                  }

                    &:active {
                      filter: brightness(80%);
                      transition: all 0s ease-in;
                    }

                    &:hover {
                      cursor: pointer;
                      background-position: 100% 0;
                      transition: all 0.3s ease-in-out;
                    }
                }
            }

            .removing-block-wrapper {
                @include flex-centered();

                position: absolute;
                height: 50px;
                color: $white;
                font-size: 1.2rem;
                bottom: -50px;
                left: 0;
            }
        }

        .pocket-controls {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 50%;
            height: 100%;

            div {
                &:last-child {
                    margin-right: 0 !important;
                }
            }

            @media screen and (max-width: 1037px) {
                width: 35%;
            }

            @media screen and (max-width: 920px) {
                width: 45%;
            }

            @media screen and (max-width: 768px) {
                width: 20%;
            }

            .new-pocket-btn {
                width: 40px;
                height: 30px;
                background-image: url('../../../../../assets/images/plus.svg');
                background-position: center;
                background-size: 25px 25px;
                background-repeat: no-repeat;
                margin-right: 17px;
                border: 1px solid $titleColor;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;

                &:hover {
                    cursor: pointer;
                    filter: brightness(120%);
                }

                &:active {
                    filter: brightness(80%);
                }
            }

            .btn {
                @include flex-centered();
                width: 27px;
                height: 30px;
                margin-right: 15px;
                background-position: center;
                background-size: 27px 27px;
                background-repeat: no-repeat;

                @media screen and (max-width: 920px) {
                    margin-right: 10px;
                }

                @media screen and (max-width: 767px) {
                    display: none;
                }

                &:hover {
                    cursor: pointer;
                    filter: brightness(150%);
                }

                &:active {
                    filter: brightness(80%);
                }

                &.remove {
                  background-image: url('/assets/images/trash.svg');
                }

                &.change {
                  background-image: url('/assets/images/settings_hover.svg');
                  background-size: 30px 35px;
                  width: 33px;
                  height: 30px;
                }

                &.share {
                  background-image: url('/assets/images/shared-icon.svg');
                  background-size: 25px 25px;
                  width: 25px;
                  height: 25px;
                }
            }
        }
    }

    .my-pockets-container {
      position: relative;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      min-height: 200px;
      margin-bottom: 30px;

      &.scrollable {
        overflow-y: scroll;
        max-height: 550px;
        padding-right: 5px;
      }

      .vamp-container,
      .pitchCards-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @media screen and (max-width: 1100px) {
          justify-content: space-between;
          .pocket-container {
            &:last-child {
              margin-right: auto;
            }
          }
        }
        @media screen and (max-width: 800px) {
          justify-content: space-evenly;
          .pocket-container {
            &:last-child {
              margin-right: 0;
            }
                }
            }

            .pitchCard-container {
                position: relative;
                display: flex;
                margin-bottom: 25px;
                margin-right: 25px;
                cursor: grab;

                @media screen and (max-width: 1100px) {
                    margin-right: 0;
                }

                .attach-button {
                    position: absolute;
                    top: calc(50% - 17px);
                    width: 100%;

                    .button-simple {
                        margin: 0 auto;
                    }
                }
            }
        }

        .pitchCards-container.organization-pc-container {
            .pitchCard-container {
                cursor: context-menu;
            }
        }

        .pockets-loader {
            z-index: 1005;
            top: 45%;
            left: 45%;
            position: absolute;
            @media screen and (max-width: 300px) {
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
            }
        }
    }
    @media screen and (max-width: 500px) {
        .my-pockets-container {
            justify-content: center;
            padding-top: 15px;
        }
    }
}

.new-pocket-modal {
    .modal-title {
        text-transform: none;
    }

    .new-pocket-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-top: 10px;
        border-top: 2px solid $borderGray;

        .nameError {
            position: absolute;
            left: 0;
            top: 2px;
            color: $stateErrorTextColor;
        }

        .new-pocket-input {
            width: 100%;
            margin-top: 20px;
            padding: 20px;
            font-size: 22px;
            border: none;
            border-radius: 4px;
            background-color: $bodyBgColor;
            color: $black;

            &.error {
                border: 1px solid $stateErrorTextColor;
            }
        }

        .colors-wrapper {
            display: grid;
            align-items: center;
            justify-items: center;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 15px;

            @media screen and (max-width: 480px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (max-width: 360px) {
                grid-template-columns: repeat(2, 1fr);
            }

            &.error {
                border: 1px solid $stateErrorTextColor;
                position: relative;
            }

            .colorsError {
              position: absolute;
              top: -20px;
              left: 0;
              color: $stateErrorTextColor;
            }

            .color {
                @include flex-centered();

                margin: 0;
                border-radius: 50%;
                width: 75px;
                height: 75px;

                &.selected {
                    border: 3px solid black;
                }

                &:hover {
                    cursor: pointer;
                    filter: brightness(120%);
                }

              > div {
                width: 88%;
                height: 88%;
                border-radius: 50%;
              }
            }
        }

        .create-btn {
          border: none;
          padding: 20px;
          font-size: 22px;
          width: 100%;
          background: $shockPinkGradientColor;
          border-radius: 4px;
          color: $white;

          &:hover {
            cursor: pointer;
            filter: brightness(98%);
          }

          &:active {
            filter: brightness(95%);
          }
        }
    }
}

.remove-confirmation-modal {
    .confirmation-title {
        text-transform: none;
        padding-left: 30px;
        padding-right: 10px;
    }
    .confirmation-wrapper {
      display: flex;
      padding: 20px 15px 0 0;
      justify-content: space-between;

      .delete,
      .cancel {
        @include flex-centered();

        margin: 5px 0;
        width: auto;
        justify-content: flex-start;
        height: 40px;
        border: none;
        font-size: 1rem;

        .icon {
          margin-right: 10px;
          background-image: url('/assets/images/trash.svg');
          background-position: center;
          background-repeat: no-repeat;
          width: 30px;
          height: 30px;
          filter: brightness(1);
        }

            &:active {
                filter: brightness(85%);

                .icon {
                    filter: brightness(85%);
                }
            }

            &:hover {
                cursor: pointer;
                filter: brightness(95%);

                .icon {
                    filter: brightness(95%);
                }
            }
        }

        .delete {
            color: $stateErrorTextColor;
        }

        .cancel {
            color: $titleColor;
            justify-self: flex-end;

          span {
            margin-left: 7px;
            margin-right: 17px;
            font-size: 1.4rem;
          }
        }
    }
}

.bottom-sidebar {
    @media screen and (min-width: 768px) {
        display: none;
    }

    .control-wrapper {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 10px;

        .selected {
            @include flex-centered();
            width: 30px;
            height: 30px;
            border-radius: 4px;
            background-color: $hrColor;
            color: $white;
            font-size: 600;
            font-size: 1.2rem;
            margin-right: 20px;
        }

        .btn {
            @include flex-centered();
            width: 27px;
            height: 30px;
            margin-right: 15px;
            background-position: center;
            background-size: 27px 27px;
            background-repeat: no-repeat;

            &:hover {
                cursor: pointer;
                filter: brightness(150%);
            }

            &:active {
                filter: brightness(80%);
            }

            &.remove {
              background-image: url('/assets/images/trash.svg');
            }

            &.change {
              background-image: url('/assets/images/settings_hover.svg');
              background-size: 30px 35px;
              width: 33px;
              height: 30px;
            }

            &.share {
              background-image: url('/assets/images/shared-icon.svg');
              background-size: 25px 25px;
              width: 25px;
              height: 25px;
            }
        }
    }
    .close-icon {
        color: $hrColor;
        font-size: 1.5rem;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.move-to-modal {
    .modal-title {
      text-transform: none;
    }
}

.move-to-modal {
  @media screen and (max-width: 767px) {
    display: none;
  }

  .this-folder-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    min-width: 1000px;
        min-height: 350px;

        @media screen and (max-width: 1067px) {
            min-width: 767px;
        }

        @media screen and (max-width: 820px) {
            min-width: 555px;
        }

        @media screen and (max-width: 620px) {
            min-width: 200px;
        }
    }
}

.move-to-modal-mobile {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }

  .pockets-container {
    display: flex;
    overflow-x: scroll;
    width: 100%;

    .pocket {
      margin: 20px 0px;
    }
  }
}

.context-menu-container {
    width: 100%;
    min-width: 185px;

    .btn {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: $titleColor;

        &.remove {
            color: $stateErrorTextColor;
        }

        .icon {
            width: 34px;
            height: 24px;
            margin-right: 15px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px 24px;

            &.share {
              background-size: 20px 20px;
              background-image: url('/assets/images/shared-icon.svg');
            }

            &.moveTo {
              background-image: url('/assets/images/move-to-folder.svg');
            }

            &.copyTo {
              background-size: 20px 20px;
              background-image: url('/assets/images/copy.svg');
            }

            &.edit {
              background-image: url('/assets/images/settings_hover.svg');
            }

            &.remove {
              background-image: url('/assets/images/trash.svg');
            }

            &.view {
              background-image: url('/assets/images/my-account-images/profile-sidebar-images/my-pitchcards.svg');
            }
        }

        &:hover {
            cursor: pointer;
            filter: brightness(120%);
        }

        &:active {
            filter: brightness(80%);
        }
    }
}

.mobile-context-menu {
    .control-wrapper {
        .header {
            @include flex-centered();

            padding: 10px 0;
            font-size: 1.2rem;
            color: $titleColor;
            font-weight: 600;
            border-bottom: 1px solid $bodyBgColor;

            &:active {
                background-color: $backgroundGray;
            }
        }

        .body {
            .context-btn {
                @include flex-centered();

                font-size: 1.2rem;
                padding: 10px 0;
                color: $titleColor;
                font-weight: 600;

              &:active {
                background-color: $backgroundGray;
              }

              &.remove {
                color: $stateErrorTextColor;
              }
            }
        }

      @media (max-width: 767px) and (orientation: portrait),
      (max-width: 851px) and (orientation: landscape) {
        width: 100%;
      }
    }
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake {
  -webkit-animation-name: tilt-shaking;
  -webkit-animation-duration: 1s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
